@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,100..700,0..1,-50..200&display=block');

/** 
 * Declare a variation of the icon-symbols class without font-size.
 * This works a bit better with tailwindcss text sizes and it's specificity.
 */
.icon-symbols {
	font-family: 'Material Symbols Rounded';
	font-weight: 400;
	font-style: normal;
	/*font-size: 24px;*/
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.icon-symbols {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

.icon-fill {
	font-variation-settings: 'FILL' 1;
}
